<h1 text-align: centre>Quotes</h1>
<app-quotes-form (addQuote)="addNewQuote($event)"></app-quotes-form>
<div *ngFor='let quote of quoted;let i = index'>

  <ul>
    <p>{{quote.author|titlecase}} posted on {{quote.completeDate|date|uppercase}}</p>
  </ul>

  <p>
    <button type="button" (click)="toggleDetails(i)">Details</button>

    <button type="button" class=" btn btn-success" (click)="upVote()">Up Vote{{count}}</button>

    <button type="button" class="btn btn-danger" (click)="downVote">Down Vote{{count}}</button>

    <app-quote-details *ngIf="quote.showDescription" [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-details>

</div>
<br>
